*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.Nav{
    width: 100%;
    text-align: right;
    font-size: 40px;
    font-weight: bolder;
    padding: 25px;
    background-color: #F7EEFA;
    position: fixed;
}
.Nav a{
    text-decoration: none;
    color:#4C002D;
    padding: 30px;
}
.Nav img{
    float: left;
    width: 150px;

}

#Home{
    width: 100%;
    padding-top: 100px;
    display: flex;
    background-color:#9879A3;
    height: 100%;
    z-index: -1;
}
#Home a{
    text-decoration: none;
    color:#4C002D;
    padding: 30px;
    size: 50px;
}
#Home .media{
    margin-right:20%;
    font-size: 50px;

}
#Home i{
    color: #4C002D;
    display: flex;
    padding: 25px;
    padding-left: 80px;

}

#About{
/* The image used */
background-image: url("img_parallax.jpg");

/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

    height: 100%;
    font-size: 30px;
    background-color: #F7EEFA;
    color: #4C002D;
    text-align: center;
    padding: 50px 130px 50px 130px;
}
#About h1{
    font-size: 50px;
    padding: 10px;
}
#About h2{
    font-size: 30px ;
    padding: 30px;
}
#About h3{
    font-size: 25px;
    padding:20px;

}

#Services{
    color: #4C002D;
    font-size: 20px;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-color: #F7EEFA;
    display: flex;
}

.Online, .Specialized, .Wholesale {
    flex: 1;
    background-color: #9879A3;
    border-radius: 30px;
    padding: 50px;
    margin: 40px;
    opacity: 0.8;
}

.Online:hover, .Specialized:hover, .Wholesale:hover{
    opacity: 1;

}

#heraldlogo{
    width: 50%;
    padding-bottom: 30px;

}
#bnkslogo{
    width: 25%;
    padding-bottom: 20px;
}


#Contacts 
input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
}

#Contacts h1{
padding-bottom: 20px;
  color:#4C002D;
  font-size: 50px;
  text-align: center;

}
#Contacts{
    padding: 30px 300px 30px 300px;
    background-color: #F7EEFA;

}
#Contacts 
input[type=submit] {
    background-color: #9879A3;
    color: #edeced;
    padding: 12px 20px;
    border: 5px;
    border-color: #4C002D;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
#Contacts label{
    font-size: 20px;
    color: #4C002D;
}

#Contacts input[type=submit]:hover {
    background-color: #4C002D;
  }

#Connect{
    display: flex;
    font-size: 60px;
    background-color: #4C002D;
    color:#edeced;
   
}
#Connect h1{
    color: #F7EEFA;
    font-size: 50px;
    padding: 40px;
}
#Connect i{
    padding: 40px;
    padding-left: 200px;
    color: #F7EEFA;
}

